h2 {
  font-style: italic;
}
.style,
h2,
.style1 {
  background: lightgreen;
}
.style1 {
  color: #2be;
}
p {
  color: #d22323;
  font-family: inherit;
  font-size: 10px;
  line-height: 2em;
}
p .intro {
  font-variant: small-caps;
  font-size: 16px;
  line-height: 24px;
}
p .highlight {
  color: #00d10d;
  font-weight: bold;
}
.myClass {
  font-size: 15px;
  color: #fefeae;
}
.round-borders {
  border: 3px solid #f32;
  border-radius: 5px;
}
#menu {
  color: #f32;
  border: 3px solid #f32;
  border-radius: 5px;
}
.p1 {
  color: brown;
}
.p2 {
  background-color: lightcoral;
  color: brown;
}
.p3 {
  background-color: aquamarine;
  color: brown;
}
.myBox {
  border: 3px dotted #f240ad;
}
.imgBox {
  width: 190px;
  height: 110px;
}
.cont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #aa66ee;
}
.cont .mixin {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #aa66ee;
}
.media-query-container {
  font-size: 30px;
  background-color: aqua;
}
.media-query-container .media-query-item {
  font-size: 0.9em;
}
@media (max-width: 991px) {
  .media-query-container .media-query-item {
    background-color: bisque;
    font-size: 0.95em;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .media-query-container .media-query-item {
    background-color: cadetblue;
    font-size: 1em;
  }
}
@media (max-width: 576px) {
  .media-query-container .media-query-item {
    background-color: cornflowerblue;
    font-size: 1.1em;
  }
}
.box1,
h2 {
  font-size: 15px;
  color: #800800;
}
#header {
  color: #03ffff;
  font-size: 16px;
  font-weight: bold;
}
h3 {
  color: #ff57fe;
}
li {
  color: #800800;
}
.class1 {
  background-color: #2be;
}
.class1 .class2 {
  background-color: #ff57fe;
  color: #800800;
}
