@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  line-height: 2em;
  font-family: inherit;
  background-color: #333; }

/* container */
.container {
  width: 100%;
  display: inline-block; }

.content {
  text-align: center; }

/* nav */
nav {
  background: #000;
  background: linear-gradient(135deg, #080808 0%, #000 100%);
  height: 2em;
  border-top: 1px solid #262626;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); }
  nav a {
    color: #6bd5b5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    display: block;
    border-right: 1px solid black;
    text-decoration: none; }
    nav a:hover {
      color: #fff; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li ul {
        display: none;
        position: absolute;
        overflow: auto;
        width: 17em;
        background-color: #000;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(135deg, #080808 0%, #000 100%); }
        nav ul li ul li {
          float: none;
          border-bottom: 1px solid black; }
      nav ul li:hover ul {
        display: block; }
