@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

/* container */
.container {
    width: 100%;
    display: inline-block;
}

/* header */


/* navigation */
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-size: 16px;
            font-family: inherit;
            a {
                color: #f2f2f2;
                text-decoration: none;
                padding: 14px;
                &:hover {
                    background-color: #111;
                }
            }
        }
    }
}

.content {
    text-align: center;
}