.round-borders {
  border: 3px solid #f32;
  border-radius: 5px;
}
#menu {
  color: #f32;
  border: 3px solid #f32;
  border-radius: 5px;
}
.p1 {
  color: brown;
}
.p2 {
  background-color: lightcoral;
  color: brown;
}
.p3 {
  background-color: aquamarine;
  color: brown;
}
.myBox {
  border: 3px dotted #f240ad;
}
.imgBox {
  width: 190px;
  height: 110px;
}
.cont {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #aa66ee;
}
.cont .mixin {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #aa66ee;
}
