@mixin heading($size) {
    @if $size == large {
        font-size: 4rem;
    }
    @else if $size == medium {
        font-size: 3rem;
    }
    @else if $size == small {
        font-size: 2rem;
    }
    @else {
        font-size: 1rem;
    }
}

.h1 {
    @include heading(small);
}

.h6 {
    @include heading(small);
}