@mixin interpolation($editable, $val, $val2, $prop1, $prop2, $width: 200px, $height: 100px) {
    background-#{$editable}: $val;
    position: $val2;
    #{$prop1}: 10px;
    #{$prop2}: 10px;
    width: $width;
    height: $height;
}

.block1 {
    @include interpolation("image", url("../images/getaways.png"), absolute, top, right, 200px, 100px)
}

.block2 {
    @include interpolation("color", lightgray, absolute, top, left)
}