// @for 
@for $i from 1 through 5 {
    .list-#{$i} {
        padding: 2px * $i;
    }
}


@for $i from 1 through 5 {
    .box-#{$i} {
        width: 10px * $i;
        height: 10px * $i;
    }
}

$border-style: dashed;
$border-color: #f00;


// while
$i: 1;
@while $i < 6 {
    .gallery-#{$i} {
        width: 20px * $i;
        height: 20px * $i;
        border: 1px * $i $border-style $border-color;
    }
    $i: $i + 1;
}