* {
    margin: 0px auto;
}

body {
    background-color: #eaecee;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 24px;
    margin: 5px 0px;
    text-align: justify;
}

.wrapper {
    width: 992px;
    background-color: #fff;
    padding: 10px 15px;
}

img.gallery {
    width: 190px;
    height: 110px;
}

img.lgal {
    float: left;
}

img.rgal {
    float: right;
}

.clr {
    clear: both;
}