* {
    margin: 0px auto;
}

body {
    background-color: #eaecee;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 24px;
    margin: 5px 0px;
    text-align: justify;
}

.wrapper {
    width: 992px;
    background-color: #fff;
    padding: 10px 15px;
}

img.gallery {
    width: 110px;
    height: 70px;
    float: left;
    margin: 0px 8px 0px 0px;
}

img.lgal {
    float: left;
}

img.rgal {
    float: right;
}

.clr {
    clear: both;
}

div.blogHorizontal {
    width: 970px;
}

div.blogVertical {
    width: 970px;
}

div.blog {
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.1);
}

div.blogH {
    width: 970px;
}

div.blogV {
    width: 300px;
    float: left;
    margin: 5px;
}