body {
    background-color: lightcyan;
}

p {
    font-size: 16px;
    color: rebeccapurple;
}

li {
    text-decoration: underline;
    font-size: 14px;
}

.para_style {
    color: red;
}

.style_para {
    font-size: 18px;
    font-weight: bold;
}

li.list_item {
    text-decoration: line-through;
    color: red;
}
