#main {
    margin: 50px auto;
}

.box {
    width: 200px;
    height: 110px;
    border: 1px solid #f00;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
}

.box1 {
    border: 1px solid #f00;
    display: inline-block;
}

.box2 {
    border: 1px solid #0f0;
    display: inline-block;
}

.box3 {
    border: 1px solid #00f;
    display: inline-block;
}