body {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 300;
    font-family: inherit;
}

.column {
    margin: 15px 15px 0;
    padding: 0;
}

.column:last-child {
    padding-bottom: 30px;
}

.column::after {
    content: " ";
    clear: both;
    display: block;
}

.column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 0 25px;
    padding: 0;
}

.column div:first-child {
    margin-left: 0;
}

.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-in-out;
}

figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover + span {
    bottom: -36px;
    opacity: 1;
}

.hover01 figure img {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.hover01 figure:hover img {
    transform: scale(2);
    -webkit-transform: scale(2);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}